body {
  background-color: #99a98f;
  color: #fff8de;
}
.App {
  text-align: center;
}

.CardContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 70%;
  margin: 40px auto;
}

img {
  width: 50%;
  height: 50%;
}

.Card {
  border: solid #fff8de;
  width: 30%;
  height: 300px;
  justify-content: center;
  align-items: center;
  background-color: #d6e8db;
  padding: 10px;
  margin: 3px;
}

.bookInfo {
  background-color: #99a98f;
  color: #fff8de;
}

button {
  background-color: #fff8de;
  color: #99a98f;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
}

button:hover {
  filter: hue-rotate(250deg);
  cursor: pointer;
}

input {
  border-radius: 20px;
  padding: 5px 10px;
  margin: 0 8px;
  border: 1px solid black;
}
